@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');



$dark-primary-dark : #393e46; 
$dark-primary-light : #393e469d; 
$blue-primary : #0186b5;
$white:#f2f2f2;

/* nav{
    font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (1700 - 700)))!important;
}

/* body {
    font-size: calc([minimum size
    ] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
} */

.hero .hero__slogan h1{ 
    font-size: calc(24px + (70 - 24) * ((100vw - 300px) / (1900 - 700)))!important;
    font-family: 'Lato';
    font-weight: 400;
    -webkit-text-stroke:1px $blue-primary; 
}

.button__big{
    font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1900 - 700))) !important;
    font-family: 'Lato';
    font-weight: 400;
} 


.video__categories li{
    font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1900 - 700)));
    font-family: 'Lato';
    font-weight: normal;

}
.video__title{
    margin-bottom: 4rem !important;
    font-size: calc(24px + (40 - 24) * ((100vw - 300px) / (1900 - 700)));
    font-family: 'Lato';
    font-weight: normal;
}

.review__text {

    h4 {
        font-size: calc(13px + (24 - 13) * ((100vw - 300px) / (1900 - 700))) !important;
        font-family: 'Sorts Mill Goudy', serif !important;
        font-weight: normal;
    }

    span {
        font-size: calc(18px + (200 - 18) * ((100vw - 300px) / (1900 - 700))) !important;
        font-family: 'Sorts Mill Goudy', serif !important;
        text-align: left !important;
        color: $blue-primary;
        float: left;
        display: inline-block;
    }
}