.animated_search{
    top: 55px;
    opacity: 1;
} 


.animated_nav{
    background-color: white !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.233);

}

.shrink_logo {
    width: 4% !important;
}

.shrink_search{
    width: 2.5% !important;
    transform: translateY(2px) !important;
}