@{
    ViewBag.Title = "Home Page";
}
<main>
    <div class="profile">
        <div class="profile__img">
            <img src="~/Content/img/SVG/profile.svg" alt="">
        </div>

        <div class="profile__tabs">
            <ul>
                <li><a href="">Curent Courses</a></li>
                <li><a href="">Interesting Courses</a></li>
                <li><a href="">Finances</a></li>
                <li><a href="">Your Courses</a></li>
            </ul>
        </div>


        <section class="video__section text-center">
            <div class="video__grid" style="grid-column-gap: 0rem; grid-template-areas:none;">

                <!-- LIST OF VIDEOS -->
                <ul class="video__list " style="padding: 1rem !important;">
                    @{
                        for (int i = 0; i < 5; i++) {
                            <li>
                                <div class="card m-2">
                                    <img class="card-img-top" src="~/Content/img/card_image_angular.jpg" alt="">
                                    <div class="card-body">
                                        <h5 class="card-title">video title</h5>
                                        <p class="card-text"> <small class="text-muted"> 666 views </small> </p>
                                    </div>
                                </div>
                            </li>
                        }
                    }

                </ul>
            </div>
        </section>
    </div>
</main>

