@{
    ViewBag.Title = "Welcome";
}

<div class="hero">
    <div class="hero__hero_image hero_image">



        <!-- SLOGAN -->
        <div class="hero__slogan slogan_container">
            <h1 class="slogan display-3 text-center">

                WE PROVIDE THE KNOLEDGE <br>
                THAT YOU DESERVE
            </h1>
        </div>



        <!-- ICON -->

        <div class="hero__icons icons_container text-center">
            <div class="hero__icon icon_1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132 132">
                    <defs>
                        <style>
                            .a {
                                fill: #fff;
                            }

                            .b {
                                fill: #393e46;
                                stroke: #fff;
                                stroke-miterlimit: 10;
                                stroke-width: 7px;
                            }
                        </style>
                    </defs>
                    <title>hero_icon(book)</title>
                    <rect class="a" x="29.99" y="31.49" width="72" height="70" />
                    <circle class="b" cx="66" cy="66" r="62.5" />
                    <path class="b" d="M70.21,48.56S77,41.72,80.72,43.3a29.25,29.25,0,0,0,7.1,1.84c.79.26,12.62,1.84,18.14-.26V92.46H89.66a10.69,10.69,0,0,0-9.73-1.84,22.57,22.57,0,0,0-5.21,2.08,2.72,2.72,0,0,1-4-2.33Z" transform="translate(-3.67 -1.23)" />
                    <path class="b" d="M69.42,48.56S62.58,41.72,58.9,43.3a29.25,29.25,0,0,1-7.1,1.84C51,45.4,39.18,47,33.66,44.88V92.46H50a10.69,10.69,0,0,1,9.73-1.84,22.67,22.67,0,0,1,5.22,2.08,2.72,2.72,0,0,0,4-2.33Z" transform="translate(-3.67 -1.23)" />
                    <path class="b" d="M70.21,46.72S77,39.88,80.72,41.46a30.31,30.31,0,0,0,7.1,1.84c.79.26,12.62,1.84,18.14-.27V90.62H89.66a10.69,10.69,0,0,0-9.73-1.84,22.57,22.57,0,0,0-5.21,2.08,2.72,2.72,0,0,1-4-2.33Z" transform="translate(-3.67 -1.23)" />
                    <path class="b" d="M69.42,46.72s-6.84-6.84-10.52-5.26a30.31,30.31,0,0,1-7.1,1.84c-.79.26-12.62,1.84-18.14-.27V90.62H50a10.69,10.69,0,0,1,9.73-1.84,22.67,22.67,0,0,1,5.22,2.08,2.72,2.72,0,0,0,4-2.33Z" transform="translate(-3.67 -1.23)" />
                </svg>
            </div>

            <div class="hero__icon icon_2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 131.97 131.97">
                    <defs>
                        <style>
                            .hero_icon1_1 {
                                fill: #fff;
                            }

                            .hero_icon1_2 {
                                fill: #393e46;
                                stroke: #fff;
                                stroke-miterlimit: 10;
                                stroke-width: 7px;
                            }

                            .hero_icon1_3 {
                                fill: #fdfdfd;
                            }

                            .hero_icon1_4 {
                                fill: #939598;
                            }
                        </style>
                    </defs>
                    <title>hero_icon(diploma)</title>
                    <rect class="hero_icon1_1" x="29.98" y="30.98" width="72" height="70" />
                    <circle class="hero_icon1_2" cx="65.98" cy="65.98" r="62.48" />
                    <path class="hero_icon1_3" d="M69.78,38.3q19.1,0,38.2,0c1,0,1.3.21,1.3,1.27q0,26.42,0,52.84c0,1.07-.32,1.28-1.3,1.25-2.27-.07-4.54,0-6.81,0-.65,0-.9-.17-.87-.85,0-1.15,0-2.3,0-3.45,0-.64.21-.83.82-.8.78,0,1.56,0,2.34,0,.5,0,.77-.13.71-.68,0-.24,0-.48,0-.71V44.78c0-1.39,0-1.4-1.33-1.4H36.59c-1.41,0-1.41,0-1.41,1.46V87.11c0,1.43,0,1.43,1.42,1.43q18.39,0,36.78,0c1,0,1.42.18,1.31,1.26a22.17,22.17,0,0,0,0,3c0,.63-.23.86-.83.79a4.34,4.34,0,0,0-.51,0q-21,0-42,0c-1,0-1.33-.16-1.33-1.25q.06-26.42,0-52.84c0-1,.31-1.28,1.32-1.27Q50.57,38.33,69.78,38.3Z" transform="translate(-3.68 -1.75)" />
                    <path class="hero_icon1_3" d="M99.15,80.84a3.26,3.26,0,0,0,1.11,4.5.52.52,0,0,1,0,.92.27.27,0,0,1-.07.08,3.24,3.24,0,0,0-1.14,4.31c.22.52-.06.74-.52.86-.1,0-.19.07-.29.08a2.86,2.86,0,0,0-2.76,2.79c-.1.77-.53,1.05-1.27.71l-.1,0a2.73,2.73,0,0,0-3.61,1c-.51.68-1.06.77-1.6,0a2.79,2.79,0,0,0-3.7-1c-.8.33-1.21,0-1.31-.78a2.83,2.83,0,0,0-2.72-2.71c-.83-.1-1.09-.54-.75-1.33a2.82,2.82,0,0,0-1-3.69c-.65-.5-.7-1,0-1.53a2.82,2.82,0,0,0,1-3.7c-.33-.78-.08-1.23.75-1.34a2.85,2.85,0,0,0,2.72-2.71c.1-.82.51-1.12,1.3-.77,0,0,.07,0,.1,0a2.74,2.74,0,0,0,3.61-1c.55-.75,1.11-.65,1.6,0a2.81,2.81,0,0,0,3.71.94c.75-.3,1.17-.07,1.26.72a3,3,0,0,0,2.86,2.83C98.72,80.11,99.32,80.14,99.15,80.84Zm-16.45,5a7,7,0,1,0,7.06-7A7.06,7.06,0,0,0,82.7,85.85Z" transform="translate(-3.68 -1.75)" />
                    <path class="hero_icon1_3" d="M69.62,62.35c-8.16,0-16.32,0-24.48,0-1.1,0-1.16-.46-1.17-1.32s.11-1.32,1.19-1.32q24.53.06,49,0c.38,0,1-.2,1,.33a3.29,3.29,0,0,1-.1,2.08c-.17.33-.69.16-1,.16H69.62Z" transform="translate(-3.68 -1.75)" />
                    <path class="hero_icon1_3" d="M69.64,67.49H94c.42,0,1-.22,1.21.23a4.07,4.07,0,0,1,0,2.11c0,.22-.31.22-.52.23h-.91q-24.17,0-48.34,0c-.47,0-1.15.29-1.37-.26a3.44,3.44,0,0,1,0-2c.1-.44.56-.29.87-.29H69.64Z" transform="translate(-3.68 -1.75)" />
                    <path class="hero_icon1_3" d="M69.75,52.12c4.2,0,8.4,0,12.6,0,1.12,0,1.07.55,1.07,1.31s.08,1.34-1,1.33q-12.7-.07-25.4,0c-1.24,0-1-.69-1-1.41s0-1.24,1-1.23C61.22,52.16,65.49,52.12,69.75,52.12Z" transform="translate(-3.68 -1.75)" />
                    <path class="hero_icon1_3" d="M55,79.1c-3.35,0-6.7,0-10,0-.88,0-1.17-.28-1-1.1a1.34,1.34,0,0,0,0-.4c-.13-.87.19-1.17,1.11-1.16,3.31.06,6.62,0,9.94,0s6.49.05,9.74,0c1.07,0,1.4.34,1.24,1.33a1.5,1.5,0,0,0,0,.3c.12.78-.19,1-1,1C61.65,79.08,58.33,79.1,55,79.1Z" transform="translate(-3.68 -1.75)" />
                    <path class="hero_icon1_4" d="M82.7,85.85a7,7,0,1,1,14,.17,7,7,0,0,1-14-.17Zm7,5.77a5.75,5.75,0,0,0,5.75-5.73,5.78,5.78,0,1,0-5.75,5.73Z" transform="translate(-3.68 -1.75)" />
                    <path class="hero_icon1_3" d="M89.75,91.62A5.78,5.78,0,0,1,84,85.93a5.78,5.78,0,1,1,11.55,0A5.75,5.75,0,0,1,89.75,91.62ZM89.67,90a4.17,4.17,0,1,0-4.12-4.15A4.15,4.15,0,0,0,89.67,90Z" transform="translate(-3.68 -1.75)" />
                    <path class="hero_icon1_4" d="M89.67,90a4.17,4.17,0,0,1,.08-8.33A4.17,4.17,0,1,1,89.67,90Z" transform="translate(-3.68 -1.75)" />
                </svg>
            </div>

            <div class="hero__icon icon_3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132.71 132.71">
                    <defs>
                        <style>
                            .a {
                                fill: #fff;
                            }

                            .b, .c {
                                fill: #393e46;
                            }

                            .b {
                                stroke: #fff;
                                stroke-miterlimit: 10;
                                stroke-width: 7px;
                            }

                            .d {
                                fill: #221e1f;
                            }
                        </style>
                    </defs>
                    <title>hero_icon(guy)</title>
                    <rect class="a" x="30.35" y="31.35" width="72" height="70" />
                    <circle class="b" cx="66.35" cy="66.35" r="62.85" />
                    <circle class="c" cx="66.07" cy="32.83" r="8.14" />
                    <path class="a" d="M69.39,43.47a9.26,9.26,0,1,1,9.26-9.26A9.27,9.27,0,0,1,69.39,43.47Zm0-16.28a7,7,0,1,0,7,7A7,7,0,0,0,69.39,27.19Z" transform="translate(-3.31 -1.38)" />
                    <path class="c" d="M69.11,43.47s11.17,0,14.59,3.37,3.36,3.92,3.36,14.59v1.68h8.42v5.61H87.62l-2.8,35.92H69.67" transform="translate(-3.31 -1.38)" />
                    <path class="a" d="M85.86,105.76H69.67v-2.24H83.78L86.59,67.6h7.77V64.23H85.94v-2.8c0-10.66,0-10.79-3-13.8-2.53-2.53-10.82-3-13.79-3V42.35c1.2,0,11.75,0,15.39,3.69s3.7,4.58,3.7,15.39V62H96.6v7.85H88.66Z" transform="translate(-3.31 -1.38)" />
                    <line class="d" x1="75.89" y1="60.61" x2="75.89" y2="53.87" />
                    <path class="a" d="M79.21,63.11A1.13,1.13,0,0,1,78.08,62V55.25a1.13,1.13,0,0,1,2.25,0V62A1.12,1.12,0,0,1,79.21,63.11Z" transform="translate(-3.31 -1.38)" />
                    <line class="d" x1="83.75" y1="61.73" x2="66.35" y2="61.73" />
                    <rect class="a" x="66.35" y="60.61" width="17.4" height="2.24" />
                    <line class="d" x1="84.31" y1="67.34" x2="66.35" y2="67.34" />
                    <rect class="a" x="66.35" y="66.22" width="17.96" height="2.24" />
                    <path class="c" d="M69.11,43.47s-10.06,0-13.47,3.37-3.37,3.92-3.37,14.59v1.68H43.85v5.61h7.86l2.8,35.92H69.67" transform="translate(-3.31 -1.38)" />
                    <path class="a" d="M69.67,105.76H53.48L50.67,69.84H42.73V62h8.42v-.56c0-10.81,0-11.69,3.69-15.39s13.84-3.69,14.27-3.69v2.24H69c-2.74,0-10.09.54-12.59,3-3,3-3,3.14-3,13.8v2.8H45V67.6h7.78l2.8,35.92H69.67Z" transform="translate(-3.31 -1.38)" />
                    <line class="d" x1="56.25" y1="60.61" x2="56.25" y2="53.87" />
                    <path class="a" d="M59.57,63.11A1.13,1.13,0,0,1,58.44,62V55.25a1.13,1.13,0,0,1,2.25,0V62A1.12,1.12,0,0,1,59.57,63.11Z" transform="translate(-3.31 -1.38)" />
                    <line class="d" x1="48.96" y1="61.73" x2="66.35" y2="61.73" />
                    <rect class="a" x="48.96" y="60.61" width="17.4" height="2.24" />
                    <line class="d" x1="48.39" y1="67.34" x2="66.35" y2="67.34" />
                    <rect class="a" x="48.39" y="66.22" width="17.96" height="2.24" />
                    <circle class="a" cx="66.91" cy="84.74" r="6.45" />
                    <path class="a" d="M70.23,92.85A6.74,6.74,0,1,1,77,86.12,6.74,6.74,0,0,1,70.23,92.85Zm0-12.9a6.17,6.17,0,1,0,6.17,6.17A6.18,6.18,0,0,0,70.23,80Z" transform="translate(-3.31 -1.38)" />
                </svg>
            </div>
        </div>


        <!-- BUTTON -->

        <div class="btn bg-white btn-outline-info text-dark text-center btn__join">
            @* data-toggle="modal" data-target="#registerModal">*@
            <a href="@Url.Action("Register", "Account")">

                <div class="display-4 button__big">Join us for free</div>
            </a>
        </div>


    </div>
</div>




<main>

    <!--=== === === === MAIN VIDEO SECTION === === === ===-->
    <section class="video__section">
        <h1 class="video__title display-3 text-center">Top Rated Videos</h1>
        <div class="video__grid">
            <ul class="video__categories">
                <li>Programing</li>
                <li>Business</li>
                <li>Design</li>
                <li>Web</li>
                <li>Photography</li>
                <li>Marketing</li>
            </ul>

            <!-- LIST OF VIDEOS -->
            <ul class="video__list ">
                @{
                    for (int i = 0; i < 8; i++) {
                        <a class="card__link" href="@Url.Action("Index", "Video")">
                            <li>
                                <div class="card m-2">
                                    <img class="card-img-top" src="~/Content/img/card_image_angular.jpg" alt="">
                                    <div class="card-body">
                                        <h5 class="card-title">video title</h5>
                                        <p class="card-text"> <small class="text-muted"> @(31 * (i + 1))00 views </small> </p>
                                    </div>
                                </div>
                            </li>
                        </a>
                    }
                }
            </ul>
        </div>
    </section>



    <!--=== === === === MAIN COMERTIAL SECTION  === === === ===-->

    <secttion class="comertial__section">
        <div class="comertial__grid">
            <!-- COMERTIALS FIRST ROW -->
            <div class="comertial__cell_container text-center">
                <img src="~/Content/img/SVG/first_comertial_icon.svg" alt="">
                <h1 class="text-left">Comertial title</h1>
                <h5 class="text-left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto quas quisquam explicabo vero at fuga et omnis, expedita eveniet perspiciatis voluptas placeat aperiam officia ut repellendus eaque vel esse minus.</h5>
            </div>

            <div class="comertial__cell_container text-center">
                <img src="~/Content/img/SVG/second_comertial_icon(test).svg" alt="">
                <h1 class="text-left">Comertial title</h1>
                <h5 class="text-left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto quas quisquam explicabo vero at fuga et omnis, expedita eveniet perspiciatis voluptas placeat aperiam officia ut repellendus eaque vel esse minus.</h5>
            </div>

            <!-- COMERTIALS SECOND ROW -->
            <div class="comertial__cell_container text-center">
                <img src="~/Content/img/SVG/comertial_icon(3-book).svg" alt="">
                <h1 class="text-left">Comertial title</h1>
                <h5 class="text-left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto quas quisquam explicabo vero at fuga et omnis, expedita eveniet perspiciatis voluptas placeat aperiam officia ut repellendus eaque vel esse minus.</h5>
            </div>

            <div class="comertial__cell_container text-center">
                <img src="~/Content/img/SVG/comertial_icon(4-certificate).svg" alt="">
                <h1 class="text-left">Comertial title</h1>
                <h5 class="text-left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto quas quisquam explicabo vero at fuga et omnis, expedita eveniet perspiciatis voluptas placeat aperiam officia ut repellendus eaque vel esse minus.</h5>
            </div>
        </div>
    </secttion>




    <!--=== === === === REVIEW SECTION === === === ===-->
    <section class="review">
        <div id="carouselId" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="text-center" src="img/SVG/user_icon.svg" alt="" style="width:8rem;">
                    <h1 class="m-3">Users Name 1</h1>
                    <hr>
                    <h3 class="m-3">Description</h3>


                    <div class="review__text text-center">
                        <span class="text-left">“</span>
                        <h4 class="text-left">
                            <i>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore excepturi blanditiis tenetur? Quisquam eos iusto quas? Ab excepturi ea doloribus, velit nihil veniam reiciendis temporibus impedit? Eaque, rem! Temporibus, est animi necessitatibus consequuntur ipsa quod qui neque aspernatur libero sed. Quisquam ipsa, veniam nulla nemo eius ex harum magnam saepe?
                            </i>
                        </h4>
                    </div>
                </div>

                <div class="carousel-item ">
                    <img class="text-center" src="img/SVG/user_icon.svg" alt="" style="width:8rem;">
                    <h1 class="m-3">Users Name 2</h1>
                    <hr>
                    <h3 class="m-3">Description</h3>


                    <div class="review__text text-center">
                        <span class="text-left">“</span>
                        <h4 class="text-left">
                            <i>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore excepturi blanditiis tenetur? Quisquam eos iusto quas? Ab excepturi ea doloribus, velit nihil veniam reiciendis temporibus impedit? Eaque, rem! Temporibus, est animi necessitatibus consequuntur ipsa quod qui neque aspernatur libero sed. Quisquam ipsa, veniam nulla nemo eius ex harum magnam saepe?
                            </i>
                        </h4>
                    </div>
                </div>

                <div class="carousel-item ">
                    <img class="text-center" src="img/SVG/user_icon.svg" alt="" style="width:8rem;">
                    <h1 class="m-3">Users Name 3</h1>
                    <hr>
                    <h3 class="m-3">Description</h3>


                    <div class="review__text text-center">
                        <span class="text-left">“</span>
                        <h4 class="text-left">
                            <i>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore excepturi blanditiis tenetur? Quisquam eos iusto quas? Ab excepturi ea doloribus, velit nihil veniam reiciendis temporibus impedit? Eaque, rem! Temporibus, est animi necessitatibus consequuntur ipsa quod qui neque aspernatur libero sed. Quisquam ipsa, veniam nulla nemo eius ex harum magnam saepe?
                            </i>
                        </h4>
                    </div>
                </div>

                <div class="carousel-item ">
                    <img class="text-center" src="img/SVG/user_icon.svg" alt="" style="width:8rem;">
                    <h1 class="m-3">Users Name 4</h1>
                    <hr>
                    <h3 class="m-3">Description</h3>


                    <div class="review__text text-center">
                        <span class="text-left">“</span>
                        <h4 class="text-left">
                            <i>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore excepturi blanditiis tenetur? Quisquam eos iusto quas? Ab excepturi ea doloribus, velit nihil veniam reiciendis temporibus impedit? Eaque, rem! Temporibus, est animi necessitatibus consequuntur ipsa quod qui neque aspernatur libero sed. Quisquam ipsa, veniam nulla nemo eius ex harum magnam saepe?
                            </i>
                        </h4>
                    </div>
                </div>

            </div>

            <div class="carousel-move-icons">
                <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
                    <img src="~/Content/img/SVG/preview_button.svg" class="carousel-control-prev-icon" aria-hidden="true">
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
                    <img src="~/Content/img/SVG/preview_button.svg" class="carousel-control-next-icon" aria-hidden="true">
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>





    <section class="sponsors">
        <h1 class="sponsors__title display-3 text-center m-5">Partners</h1>
        <div id="sponsors__carouselId" class="carousel sponsors__carousel slide" data-ride="carousel">
            <div class="carousel-inner sponsors__carousel-inner" role="listbox">
                <div class="carousel-item spon active">
                    <div class="sponsors__grid ">
                        @{
                            for (int j = 0; j < 12; j++) {
                                <div class="card">
                                    <div class="card-body">
                                        <img class="card-img" src="~/Content/img/images/sponsors/1.jpg" alt="">
                                    </div>
                                </div>
                            }

                        }

                    </div>

                </div>

                <div class="carousel-item text-center spon">
                    <div class="sponsors__grid">
                        @{
                            for (int j = 0; j < 12; j++) {
                                <div class="card">
                                    <div class="card-body">
                                        <img class="card-img" src="~/Content/img/images/sponsors/2.png" alt="">
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>

                <div class="carousel-item text-center spon">
                    <div class="sponsors__grid">
                        @{
                            for (int j = 0; j < 12; j++) {
                                <div class="card">
                                    <div class="card-body">
                                        <img class="card-img" src="~/Content/img/images/sponsors/3.png" alt="">
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>

            </div>

            <div class="carousel-move-icons">
                <a class="carousel-control-prev" href="#sponsors__carouselId" role="button" data-slide="prev">
                    <img src="~/Content/img/SVG/preview_button.svg" class="carousel-control-prev-icon" aria-hidden="true">
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#sponsors__carouselId" role="button" data-slide="next">
                    <img src="~/Content/img/SVG/preview_button.svg" class="carousel-control-next-icon" aria-hidden="true">
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>


    </section>
</main>


@*
    <!-- Register -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        @Html.Partial("../Account/Register")
    </div>
*@